.table-container {
  margin-top: 20px;
  overflow: auto;
  height: 85vh;
}

mat-header-cell {
  font-size: medium;
}

.mono {
  font-family: monospace;
}

.mat-row:hover {
  background-color: #f3f3f3;
  cursor: pointer;
}