.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (min-width: 600px) {
  .dashboard-card {
    max-width: 20vw;
  }

  .img {
    max-height: 70vh;
    min-height: 40vh;

  }
}

.dashboard-card {
  margin: 8px 16px;
}

img {
  margin-bottom: 0;
  /* max-height: 50vh; */
  object-fit: cover;
}



.dashboard-card-content {
  text-align: center;
}

.mat-card-header {
  margin-left: -16px;
}

.nugu {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.mat-button-toggle-checked {
  background: #d5acf3;
}

.mat-button-toggle-label-content {
  font-size: large;
}

mat-card-actions {
  padding-top: 5px;
}

mat-button-toggle-group {
  width: 99.25%;
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.auto {
  position: absolute;
  bottom: 24px;
  left: 50%;
  margin-left: -52px;
}