.grid-container {
  margin: auto;
  max-width: 75%;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-card-header {
  margin-left: -16px;
}

mat-grid-tile {
  height: 100%;
  padding-top: 0;
}

h1 {
  padding-left: 32px;
  margin-bottom: 8px;
  font-weight: normal;
  color: #a68bf0;

}

img {
  margin-bottom: 0;
}

.nugu {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

mat-card-actions {
  padding-top: 5px;
}

mat-button-toggle-group {
  width: 99.25%;
}

mat-button-toggle {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.mat-button-toggle-label-content {
  font-size: large;
}
