th,
td {
  vertical-align: middle;
  padding: 5px 15px;
}

th {
  font-weight: 500;
}

.mat-dialog-content {
  margin-top: 0px;
}

button {
  background-color: #d5acf3;
}

.purple {
  color: #a68bf0;
  display: inline-table;
}

span {
  font-size: 13px;
}

mat-slide-toggle {
  margin-left: 10px;
}