th,
td {
  vertical-align: middle;
  padding: 5px 15px;
}

th {
  font-weight: 500;
}

.mat-dialog-content {
  margin-top: 0px;
}

button {
  background-color: #d5acf3;
}

.purple {
  color: #a68bf0;
  /* font-size: smaller; */
  display: inline-table;
  /* padding-bottom: 1px; */
}