@media only screen and (min-width: 600px) {
  .grid-container {
    margin: auto;
    max-width: 70%;
  }
}

.left {
  cursor: pointer;
  width: 100%;
  padding-left: 32px;
  text-align: left;
}

.right {
  cursor: pointer;
  width: 100%;
  padding-right: 32px;
  text-align: right;
}